{% extends "sosfrene_admin/base.html" %}
{% load static %}

{% block titre %} S.O.S Frêne - Ville de Montréal - Détails du signalement {% endblock %}

{% block contenu %}

    <div class="row">
        <div class="col-md-12 col-xs-12">
            {% block navigation %}
            <ul class="breadcrumb">
                <li><a href="{% url 'admin:signalements' %}">Signalements</a></li>
                <li class="active">{{ signalement.id }}</li>
            </ul>
            {% endblock %}

            {% if not signalement.accepte %}
                <a id="btn-traiter-signalement" href="/admin/signalements/{{ signalement.id }}/traitement" class="btn btn-primary btn-large">Traiter</a>
            {% endif %}
            <h2>Détails du signalement</h2>

            <fieldset>
                <legend>Informations</legend>
                {% if signalement.accepte %}
                    <label>État: traité</label>
                {% else %}
                    <label>État: En attente</label>
                {% endif %}

                <br>
                <label>Date d'envoi: {{ signalement.date|date:"Y/m/d" }}</label>
                <br>
                <label>Votre description:</label>
                <p><em>{{ signalement.description }}</em></p>
            </fieldset>

            <fieldset>
                <legend>Photos</legend>
                {% for photo in photos %}
                    <a href="{{ photo.source.url }}">
                        <img class="image-signalement" src="{{ photo.source.url }}">
                    </a>
                {% endfor %}
            </fieldset>
        </div>
    </div>

{% endblock %}
