
$h1-size: 80px;
$h2-size: 50px;
$logo-width: 130px;
$footer-height: 70px;
$marge-item-footer: 40px;
$marge-item-footer-xs: 15px;
$marge-conteneur-principal: 0 70px 25px 70px;
$font-small: 12px;
$font-normal: 15px;
$largeur-image: 300px;
$largeur-visuel-accueil: 400px;
$largeur-texte-footer: 140px;
$largeur-connexion: 500px;
$couleur-erreur: #aa0000;
$couleur-reussite: #009900;
$navbar-inverse-bg: #004B63;
$brand-primary: #EE9900;
