{% extends "base.html" %}

{% block titre %} S.O.S Frêne - Ville de Montréal - Le frêne {% endblock %}

{% block contenu %}

    <div class="row marge-haut">
        <div class="col-md-12 col-xs-12">
            <h2>L'agrile</h2>
            <h3>Identification de l'agrile du frêne</h3>
            <p>Les adultes sont vert métallique sur le dessus et vert émeraude en-dessous. Du fait de leur taille relativement modeste
                (8,5 à 14,0 mm de longueur sur 3,1 à 3,4 mm de largeur), ils sont difficiles à détecter, et il est souvent plus
                 facile de repérer les galeries sinueuses forées par les larves ou les frênes infestés que l'insecte lui-même.
            </p>
        </div>
    </div>

{% endblock %}
