{% extends "base.html" %}

{% block titre %} S.O.S Frêne - Ville de Montréal - Connexion {% endblock %}

{% block conteneur %}
    <div class="conteneur-principal-centre">
        <div class="conteneur-centre">
            {% if erreur_mdp %}
            <div class="alert alert-danger" role="alert">
                Le mot de passe n'est pas valide.
            </div>
            {% endif %}
            {% block entete %}
            <h3>Connexion</h3>
            {% endblock %}
            {% load crispy_forms_tags %}
            {% crispy form %}
            {% block client %}
            <p>Vous n'avez pas de compte?<br> <a href="{% url 'client:enregistrement' %}">Inscrivez-vous</a> dès maintenant.</p>
            {% endblock %}
        </div>
    </div>
{% endblock %}
