{% extends "base.html" %}

{% block titre %} S.O.S Frêne - Ville de Montréal - Le frêne {% endblock %}

{% block contenu %}

    <div class="row marge-haut">
        <div class="col-md-12 col-xs-12">
            <h2>Le frêne</h2>
            <h3>Voici trois façons simples de reconnaître les frênes:</h3>
            <ol>
                <li>Le frêne possède des feuilles composées opposées.</li>
                <li>Ses feuilles sont composées d’un nombre impair (5 à 11) de folioles (petites feuilles dépourvues de pétiole).
                Chaque feuille, et chaque branche, est jumelée à une autre feuille du côté opposé sur les branches de façon symétrique.
                </li>
                <li>Contrairement aux érables à giguère la foliole de l’extrémité d’une feuille de frêne ne comporte pas de dents.</li>
            </ol>
        </div>
    </div>

{% endblock %}
