{% extends "base.html" %}
{% load static %}

{% block titre %} S.O.S Frêne - Ville de Montréal - Mes notifications {% endblock %}

{% block contenu %}

    <div class="row">
        <div class="col-md-12 col-xs-12">
            <ul class="breadcrumb">
                <li class="active">Notifications</li>
            </ul>

            {% csrf_token %}
            <h2>Notifications</h2>
            {% if notifications|length == 0 %}
            <p>Vous avez aucune nouvelle notification.</p>
            {% endif %}
            {% for notification in notifications %}
            <div class="well well-lg" style="position: relative;">
                <button data-notification="{{notification.id}}" title="Archiver" class="btn btn-default btn-coin-droit"><i class="fa fa-archive" aria-hidden="true"></i></button>
                <p><strong>{{ notification.date|date:"Y/m/d" }}</strong><br>
                    Description:<br><br> {{ notification.description|linebreaksbr }}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/ouvrir_lien.js' %}"></script>
    <script src="{% static 'js/sosfrene_client/notifications.js' %}"></script>
{% endblock %}
