{% extends "base.html" %}

{% block titre %} S.O.S Frêne - Ville de Montréal - Mon profil {% endblock %}

{% block contenu %}

    <div class="row">
        <div class="col-md-12 col-xs-12">
            {% if reussite %}
            <div class="alert alert-success" role="alert">
                Votre préférences ont été enregistrées.
            </div>
            {% endif %}

            <h2>Mon profil</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-xs-12">
            <fieldset>
                <legend>Informations personnelles</legend>
                <label>Prénom: {{ user.first_name }}</label>
                <br>
                <label>Nom: {{ user.last_name }}</label>
                <br>
                <label>Adresse courriel: {{ user.email }}</label>
            </fieldset>
        </div>

        <div class="col-md-6 col-xs-12">
            <fieldset>
                <legend>Préférences</legend>
                {% load crispy_forms_tags %}
                {% crispy form %}
            </fieldset>
        </div>
    </div>

{% endblock %}
