{% extends "base.html" %}
{% load static %}

{% block titre %} S.O.S Frêne - Ville de Montréal - Mes signalements {% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="{% static 'css/buttons.css' %}" rel="stylesheet">
{% endblock %}

{% block contenu %}

    <div class="row">
        <div class="col-md-12 col-xs-12">
            <ul class="breadcrumb">
                <li class="active">Signalements</li>
            </ul>

            <h2>Signalements</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                    {% for entete in entetes %}
                        <th>{{entete}}</th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for signalement in signalements %}
                    <tr class="ligne-lien" data-href="/signalements/{{ signalement.id }}">
                        <td>{{ signalement.date|date:"Y/m/d" }}</td>
                        <td>{{ signalement.localisation.latitude|floatformat:5 }}
                            <br>
                            {{ signalement.localisation.longitude|floatformat:5 }}
                        </td>
                        {% if signalement.accepte %}
                            <td>Traité</td>
                        {% else %}
                            <td>En attente</td>
                        {% endif %}
                        {% if signalement.specimen %}
                            <td>{{ signalement.specimen.id }}</td>
                        {% else %}
                            <td>Aucun</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <a href="{% url 'client:nouveau_signalement' %}" class="button btn-primaire button-circle button-jumbo flottant">
        <i style="color: #fff;" class="fa fa-plus"></i>
    </a>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/ouvrir_lien.js' %}"></script>
{% endblock %}
