{% extends "admin/base.html" %}
{% load static %}

{% block titre %} S.O.S Frêne - Ville de Montréal - Spécimens {% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="{% static 'css/buttons.css' %}" rel="stylesheet">
{% endblock %}

{% block contenu %}

    <div class="row">
        <div class="col-md-12 col-xs-12">
            <ul class="breadcrumb">
                <li class="active">Spécimens</li>
            </ul>

            <h2>Spécimens</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                    {% for entete in entetes %}
                        <th>{{entete}}</th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for signalement in signalements %}
                    <tr class="ligne-lien" data-href="/admin/signalements/{{ signalement.id }}">
                        <td>{{ signalement.date|date:"Y/m/d" }}</td>
                        <td>{{ signalement.localisation.latitude|floatformat:5 }}
                            <br>
                            {{ signalement.localisation.longitude|floatformat:5 }}
                        </td>
                        {% if signalement.accepte %}
                            <td>Traité</td>
                        {% else %}
                            <td>En attente</td>
                        {% endif %}
                        {% if signalement.specimen %}
                            <td>{{ signalement.specimen.id }}</td>
                        {% else %}
                            <td>Aucun</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/agrile_frene/ouvrir_lien.js' %}"></script>
{% endblock %}
