{% extends "base.html" %}

{% block titre %} S.O.S Frêne - Ville de Montréal - Connexion {% endblock %}

{% block conteneur %}
    <div class="conteneur-principal-centre">
        <div class="conteneur-centre">
            <h3>Connexion</h3>
            {% if erreur %}
            <div class="alert alert-danger" role="alert">
                Le mot de passe n'est pas valide.
            </div>
            {% endif %}
            {% load crispy_forms_tags %}
            {% crispy form %}
            <p>Vous n'avez pas de compte?<br> <a href="{% url 'enregistrement' %}">Inscrivez-vous</a> dès maintenant.</p>
        </div>
    </div>
{% endblock %}
