{% extends "base.html" %}
{% load static %}

{% block titre %} S.O.S Frêne - Ville de Montréal - Mes messages {% endblock %}

{% block contenu %}

    <div class="row">
        <div class="col-md-12 col-xs-12">
            <ul class="breadcrumb">
                <li class="active">Messages</li>
            </ul>

            <h2>Messages</h2>

            <table class="table table-striped">
                <thead>
                    <tr>
                    {% for entete in entetes %}
                        <th>{{entete}}</th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for message in messages %}
                    <tr class="ligne-lien" data-href="/messages/{{ message.id }}">
                        <td>{{ message.date|date:"Y/m/d" }}</td>
                        <td>{{ message.expediteur.user.get_full_name }}</td>
                        <td>{{ message.sujet }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'js/agrile_frene/ouvrir_lien.js' %}"></script>
{% endblock %}
